footer.footer
  a.hashtag(href="#") #visitsedona
  ul.socials
    li.socials__item
      a.socials__link(href="#")
        svg.socials__icon
          use(xlink:href="img/sprite.svg#twitter")
    li.socials__item
      a.socials__link(href="#")
        svg.socials__icon
          use(xlink:href="img/sprite.svg#facebook")
    li.socials__item
      a.socials__link(href="#")
        svg.socials__icon
          use(xlink:href="img/sprite.svg#youtube")
  p.copyright
    span.copyright__text WebSite by
    a.copyright__link(href="https://htmlacademy.ru/" target="_blank")
      svg.copyright__icon
        use(xlink:href="img/sprite.svg#htmlAcademyLogo")