header.header
  nav.nav
    ul.nav__list
      li.nav__listItem
        a.nav__link(href="#") Информация
      li.nav__listItem
        a.nav__link(href="#") Фото и видео
      li.nav__listItem
        a.nav__link(href="#")
          img.nav__logo(src="img/content/headerLogo.png")
      li.nav__listItem
        a.nav__link(href="#") Карта штата
      li.nav__listItem
        a.nav__link(href="#") Гостиницы
