@font-face {
  font-family: 'ptSans';
  src: url('../../fonts/ptSans.woff2') format('woff2'),
       url('../../fonts/ptSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ptSansBold';
  src: url('../../fonts/ptSansBold.woff2') format('woff2'),
       url('../../fonts/ptSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}